{% extends "_layouts/base.twig" %}

{% block title %}Page not found · {{ siteName }}{% endblock %}

{% block body %}
    <section>
        <div class="contain p-12">
            <div class="nice flow">

                <h1>Page not found</h1>

                <p class="lead">The page you're looking for doesn't exist or may have moved.</p>

                <p><a href="/">Return to the homepage</a></p>

            </div>
        </div>
    </section>
{% endblock %}
